/* Google Fonts CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

/* Global CSS */
body{
	font-family: 'Lato', sans-serif;
	background-color: #fff;
	padding: 0;
  	margin: 0;
}
h1,h2,p{
	color: #fff;
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
ul li{

}

header{
	padding: 20px;
}
.log-out-btn{
	background-color: #0eaa05;
    border: 0;
    padding: 12px 33px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    float: right;
}
.nav-section{
	background-color: #0eaa05;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}
.nav-section a{
	color: #fff;
	text-decoration: none;
}
.nav-link{
	padding: 0;
}
.dropdown-menu a{
	color: #000;
	padding: 10px 1.5rem;
	transition: 0.1s ease-in-out;
}
.dropdown-menu a:hover{
	color: #fff;
	background-color: #0eaa05;
}