/* Google Fonts CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

/* Global CSS */
body{
	font-family: 'Lato', sans-serif;
	background-color: #00add9;
	padding: 0;
  	margin: 0;
}
h1,h2,p{
	color: #fff;
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
}

/* Sign Up Section CSS */
.sign-up{
	height: 100vh;
	display: flex;
    align-items: center;
}
.form{
	background-color: #fff;
	padding-bottom: 30px;
    min-width: 450px;
    margin: 0 auto;
    box-shadow: 0 8px 39px -6px #4e4e4e;
}
.tittle{
	text-align: center;
	padding-top: 50px;
}
.tittle h2{
	padding: 25px 0 20px;
    color: #00add9;
    font-weight: 700;
}
.form-control {
    margin: 0 auto;
    width: 80%;
}
.sign-up-btn{
    background-color: #0eaa05;
    border: 0;
    padding: 12px 33px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.4s ease-in-out;
}
.sign-up-btn:hover{
	background-color: #1b9014;
}
.sign-in{
	font-weight: 500;
	color: #00add9;
}
.sign-in a{
	font-weight: 600;
    transition: 0.4s ease-in-out;
    color: #0eaa05;
}



/* Media Query for Extra Small Devices */
@media (max-width: 500px){


}



/* Media Query for Medium Devices */

@media (min-width: 501px) and (max-width: 768px){
	

}

/* Media Query for Medium Devices */

@media (min-width: 768px) and (max-width: 991px){
	
}

/* Media Query for Large Devices */

@media (min-width: 992px) and (max-width: 1199px){
	
}